/** @format */

.g-story-list-section {
    width: auto;
}

.g-story-list-section-List-swiper {
    flex: 1;
    height: 80px;
    max-width: 540px;
    margin: 0;
    // padding: 10px;

    .swiper-wrapper {
        // gap: 5px;
        align-items: center;
        justify-content: flex-start;
    }

    .swiper-slide {
        margin-right: 0 !important;
        width: 60px !important;
    }
}

@media screen and (max-width: 850px) {
    .g-story-list-section-List-swiper {
        max-width: 600px;
    }
}

@media screen and (max-width: 768px) {
    .g-story-list-section-List-swiper {
        max-width: 500px;
    }
}

@media screen and (max-width: 630px) {
    .g-story-list-section-List-swiper {
        max-width: 360px;
    }
}

@media screen and (max-width: 500px) {
    .g-story-list-section-List-swiper {
        max-width: 300px;
    }
}

@media screen and (max-width: 400px) {
    .g-story-list-section-List-swiper {
        max-width: 220px;
    }
}

