/** @format */

@import "tailwindcss";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "./context/notification/Notification.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", system-ui, sans-serif;
    font-optical-sizing: auto;
    letter-spacing: 0.5px;
}

.scroll-on-hover {
    overflow-y: scroll;
}

.scroll-on-hover::-webkit-scrollbar {
    width: 6px;
}

.scroll-on-hover::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 3px;
}

.scroll-on-hover:hover::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.4);
}

.html.light {
    color: black;
}

html.dark {
    color: white;
}

.ant-popover {
    margin-top: 6px !important;
}

html.dark .ant-popover-inner {
    padding: 0 !important;
    overflow: hidden !important;
    box-shadow: none !important;
}

html.light .ant-popover-inner {
    padding: 0 !important;
    overflow: hidden !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
}

.normal-box-shadow {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px !important;
}

html.light .ant-tooltip-inner {
    background-color: #1e293b !important;
    color: white !important;
    font-size: 12px;
}

html.light .ant-tooltip-arrow::before {
    background-color: #1e293b !important;
}

html.dark .ant-tooltip-inner {
    background-color: #d2d4da !important;
    color: #333 !important;
    font-size: 12px;
}

html.dark .ant-tooltip-arrow::before {
    background-color: #d2d4da !important;
}

.dialog-fade-in {
    animation: dialogFadeIn 0.3s ease-out;
}

@keyframes dialogFadeIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


