/** @format */

@import "tailwindcss";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "./context/notification/Notification.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", system-ui, sans-serif;
    font-optical-sizing: auto;
    letter-spacing: 0.5px;
}

.scroll-on-hover {
    overflow-y: hidden;
}

.scroll-on-hover:hover {
    overflow-y: auto;
}

.scroll-on-hover::-webkit-scrollbar {
    width: 6px;
}

.scroll-on-hover::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.4);
    border-radius: 3px;
}

.html.light {
    color: black;
}

html.dark {
    color: white;
}

.ant-popover {
    margin-top: 6px!important;
}

.ant-popover-inner {
    padding: 0!important;
    overflow: hidden!important;
    box-shadow: none!important;
}
