/** @format */

@import "tailwindcss";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "./context/notification/Notification.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", system-ui, sans-serif;
    font-optical-sizing: auto;  
    letter-spacing: 0.5px;
} 